body{
    background-color: #191919;
    width:1920px;
}
.contents .kully,
.contents .olive,
.contents .zigzag{
    position:relative;
}
.contents .banner{
    width:805px;
    height: 805px;
    position: absolute;
}
.contents .kully .banner,
.contents .olive .banner,
.contents .zigzag .banner{
    top: 136px;
    left: 860px;
}
section .soma{
    background-color: white;
}